 :root {
   --background: #f9f9f9;
   --backgroundResume: #fff;
   --primaryColor: #333;
   --secondColor: #03a9f4;
   --progresColor: #ccc;
   --paragrafColor: #646363;
   --line: rgba(0,0,0,0.2);
   --shadow: rgba(0,0,0,0.2);
 }


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 ul li {
   list-style: none;
 }


 #root {
   background: var(--background);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   transition: 0.5s;
 }

 .container {
   position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   background: var(--backgroundResume);
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 35px 55px var(--shadow);
   margin: 50px;
   transition: 0.5s;
 }


 .leftSection {
   position: relative;
   padding: 40px;
 }

 /* ========== Фото, имя ========== */

 .profileText {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 1px solid var(--line);
   transition: 0.5s;

 }

 .profileText .imgBx {
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
 }

 .profileText .imgBx img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .profileText h2 {
   font-size: 1.5em;
   text-transform: uppercase;
   font-weight: 600;
   text-align: center;
   margin-top: 20px;
   color: var(--primaryColor);
   line-height: 1.4em;
   transition: 0.5s;
 }

 .profileText h2 span {
   font-size: 0.75em;
   font-weight: 300;
 }

 /* ========== Контакты ========== */

 .contactInfo {
   padding-top: 40px;
 }

 .contactInfo .title {
   color: var(--primaryColor);
   letter-spacing: 1px;
   text-transform: uppercase;
   margin-bottom: 20px;
   font-weight: 600;
   transition: 0.5s;
 }

 .contactInfo ul li {
   margin: 10px 0;
   cursor: pointer;
  
 }

 .contactInfo ul li .icon {
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   color: var(--secondColor);
   fill: var(--secondColor)
 }

 .contactInfo ul li .text {
  text-decoration: none;
  font-weight: 300;
  color: var(--primaryColor);
  transition: 0.5s;
 }

 /* ========== Образование ========== */

 .contactInfo.education li {
   margin-bottom: 15px;
   
 }

 .contactInfo.education h5 {
   color: var(--secondColor);
   font-weight: 500;
   margin-bottom: 3px;
   transition: 0.5s;
 }

 .contactInfo.education h4:nth-child(2) {
   color: var(--primaryColor);
   font-weight: 500;
   margin-bottom: 3px;
   transition: 0.5s;
 }

 .contactInfo.education h4 {
   font-weight: 400;
   color: #848c90;
   transition: 0.5s;
 }

 /* ========== Языки ========== */

 .contactInfo.language .percent {
   position: relative;
   display: block;
   height: 6px;
   width: 100%;
   background: var(--progresColor);
   margin-top: 5px;
 }

 .contactInfo.language .percent div {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: var(--secondColor);
 }



 .rightSection {
   position: relative;
   padding: 40px;
 }

 /* ========== Обо мне ========== */
 .about {
   margin-bottom: 50px;
 }

 .about:last-child {
   margin-bottom: 0px;
 }

 .about .title2 {
   color: var(--primaryColor);
   letter-spacing: 1px;
   text-transform: uppercase;
   margin-bottom: 20px;
   transition: 0.5s;
 }

 p {
   color: var(--paragrafColor);
   transition: 0.5s;
 }

 /* ========== Опыт работы ========== */

 .about .box {
   display: flex;
   margin: 20px 0;
 }

 .about .box .years_company {
   min-width: 150px;
 }

 .about .box .years_company h5 {
   font-weight: 600;
   text-transform: uppercase;
   color: #848c90;
   transition: 0.5s;
 }


 .about .box .text h4 {
   text-transform: uppercase;
   color: var(--secondColor);
   font-size: 16px;
   transition: 0.5s;
 }

 /* ========== Профессиональные навыки ========== */

 .skills .box {
   display: grid;
   width: 100%;
   justify-content: center;
   align-items: center;
   grid-template-columns: 150px 1fr;
 }

 .skills .box h4 {
   text-transform: uppercase;
   color: #848c90;
   font-weight: 500;
 }

 .skills .box .percent {
   position: relative;
   background: var(--progresColor);
   height: 10px;
 }

 .skills .box .percent div {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: var(--secondColor);
 }

 /* ========== Интересы ========== */

 .about.interest ul {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
 }

 .about.interest ul li {
   color: var(--primaryColor);
   font-weight: 500;
   margin: 10px 0;
   transition: 0.5s;
 }

 .about.interest ul li span {
   display: inline-block;
   vertical-align: middle;
   color: var(--secondColor);
   margin-right: 5px;
 }


 /* ========== Отзывчивость ========== */

 @media (max-width: 1100px) {
   .container {
     grid-template-columns: repeat(1, 1fr);
     margin: 10px;
   }
   .rightSection {
    padding: 0px 40px 40px 40px;
   }
 }

 @media (max-width: 760px) {
   .about.interest ul {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
   }
 }

 @media (max-width: 600px) {
   .about.interest ul {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
   }
   .about .box {
     flex-direction: column;
   }
   .about .box .years_company {
     margin-bottom: 5px;
   }
   .skills .box {
     grid-template-columns: repeat(1, 1fr);
   }

 }

 /* ========== Кнопки ========== */

.blockBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: end;
  z-index: 10;
}
 
 .blockBtn button{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  background: var(--secondColor);
  color: var(--primaryColor);
  box-shadow: 0 3px 10px var(--primaryColor);
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
  opacity: 0.9;
 }

 .blockBtn button:active {
  box-shadow: 0 3px 10px var(--primaryColor),
              0 3px 20px var(--primaryColor);
 }

 .blockBtn button:hover {
  opacity: 1;
 }